* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.5px;
  background: #f5f7fb;
  color: #222;
}

header,
footer {
  background: #9fd3c7;
  text-align: center;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin-bottom: 0.25rem;
}

button {
  border-radius: 20px;
  padding: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.05rem;
}

header button:hover {
  background: #385170;
  color: #fff;
}

nav {
  display: flex;
  align-items: flex-end;
}

nav a {
  color: #385170;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color: #222;
}

h2 {
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

ul,
ol {
  padding-left: 1.25rem;
}

ul ul {
  padding-left: 1.25rem;
  list-style-type: circle;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0;
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 45vh;
  width: 100vw;
  background: #385170;
  color: #fff;
}

#hero button {
  margin-top: 40px;
}
#hero button:hover {
  background: #9fd3c7;
}

#hero p {
  margin-top: 20px;
  max-width: 35%;
  text-align: center;
  font-size: 1.1rem;
  color: #f5f7fb;
}

#features {
  display: grid;
  max-width: 1200px;
  gap: 2rem;
  margin: 5rem auto;
  padding: 10px 1rem;
}

#features-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  background: #ececec;
  border-radius: 8px;
  padding: 1rem 1.25rem;
  margin: 5px;
}

.card p {
  margin-bottom: 0.75rem;
}

.card > p:last-child {
  border: 3px solid #f2f2f2;
  border-radius: 10px;
  padding: 10px 5px;
}

.card div {
  font-weight: bold;
  font-size: 1.2rem;
}

.card li {
  margin-bottom: 0.35rem;
}

#testimonials {
  background: #9fd3c7;
  padding: 20px 0;
}

#testimonial-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 40vh;
  gap: 1rem;
}

#testimonial-cards .user-card {
  background: #fcfcfc;
  max-width: 400px;
  border-radius: 10px;
  padding: 0px 20px;
  margin: 20px auto;
}

.user-card .image-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 15px;
}

.user-card div img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.user-card .feedback {
  font-style: italic;
}

#testimonials h2 {
  text-align: center;
}

#pricing {
  max-width: 1200px;
  min-height: 30vh;
  margin: auto;
}

#pricing h2 {
  margin-top: 50px;
}

#pricing-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 80px;
}

.card-pricing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  min-height: 300px;
  border: 1px solid #ececec;
  border-radius: 8px;
  background: #ececec;
  color: #142d4c;
}

.card-pricing p {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 10px 0;
}

.card-pricing i {
  font-size: 60px;
  margin-top: 15px;
}
.card-pricing button {
  margin: 30px 0;
  background: #fff;
}

.card-pricing button:hover {
  background: #385170;
  color: #fff;
}

#call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #385170;
  min-height: 30vh;
}

#call-to-action h2 {
  color: #ececec;
}

#call-to-action p {
  color: #ececec;
  letter-spacing: 0.5px;
  font-size: 1rem;
  max-width: 40rem;
  text-align: center;
}

#call-to-action button {
  margin-top: 30px;
}

#call-to-action button:hover {
  background: #9fd3c7;
}

@media (min-width: 768px) {
  .site-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    flex-direction: row;
    gap: 1.5rem;
  }
}

@media (max-width: 850px) {
  #pricing-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 980px) {
  #features-cards,
  #testimonial-cards,
  #pricing-cards {
    grid-template-columns: 1fr;
  }
}
